The dataset [[1]](#bib_cell) we will look at in this notebook aims to create just this predictive ability.  In particular it contains around 12,000 patient records containing a number of features about each patient, as well as whether or not a patient returned to the hospital within 30 days.
Our goal will be to use ML algorithms to try to predict which patients will in fact return within 30 days.

In [73]:
#Importing Python libraries
import numpy as np
import pandas as pd
import seaborn as sns


# Reading in the input dataset
medical_data = pd.DataFrame(pd.read_csv("balanced_cleaned_diabetes_data.csv"))

In [74]:
#Looking at the dataset

medical_data.head()

       age  gender  number_emergency readmitted
0  [70-80)  Female                 0         NO
1  [50-60)    Male                 0        >30
2  [60-70)    Male                 0        >30
3  [70-80)  Female                 0        <30
4  [70-80)    Male                 0         NO

In [75]:
#Exploring the columns of the dataset
#Total number of rows and columns of the dataset

print("This dataset has {} rows and {} columns".format(medical_data.shape[0], medical_data.shape[1]))

#Age
import re
print('The following are the age groups in this sample: '+ '\n')
for age_group in medical_data['age'].unique():
    age_groups = re.findall(r'\d+', str(age_group))
    print('{} to {}'.format(age_groups[0], age_groups[1]))
    
#Unique number of emergencies

medical_data['number_emergency'].nunique()

This dataset has 15628 rows and 4 columns
The following are the age groups in this sample:

70 to 80
50 to 60
60 to 70
0 to 10
40 to 50
80 to 90
90 to 100
30 to 40
20 to 30
10 to 20

23

**1.**  The columns here are the input - or 'features' - of the dataset are:

**gender** - gender of patient

**age** - age of patient, split into 10 year chunks

**number_emergency** - Number of emergency visits of the patient in the year preceding the encounter

**2.**  The target / labels are:

**readmitted** - consists of "> 30" (readmitted within 30 days), "< 30" (readmitted after 30 days), and NO (no history of readmission)

In [59]:
#Pre-processing input data

#Transforming the age column while preserving ordinality
age_groups = {'[0-10)': 1,'[10-20)': 2, '[20-30)':3, '[30-40)': 4, '[40-50)':5, '[50-60)':6,'[60-70)':7 ,'[70-80)':8,'[80-90)':9,'[90-100)':10}

medical_data['age'] = medical_data['age'].map(age_groups)

In [60]:
# Converting female, male into binary values

medical_data ['gender'] = medical_data['gender'].map({'Female': 0, 'Male': 1})

#Converting values of output variables 

medical_data['readmitted'] = medical_data['readmitted'].map({'>30': 0, 'NO' : 0, '<30': 1})

#Now the input medical data has been transformed

In [69]:
#Fitting a simple logistic regression model

input_data_1 = medical_data[['gender','age','number_emergency']]
labels_1 = medical_data['readmitted']


null_columns=input_data_1.columns[input_data_1.isnull().any()]

       age
0      7.0
1      5.0
2      6.0
3      7.0
4      7.0
5      1.0
6      6.0
7      4.0
8      4.0
9      5.0
10     8.0
11     5.0
12     6.0
13     7.0
14     7.0
15     5.0
16     6.0
17     7.0
18     8.0
19     7.0
20     6.0
21     8.0
22     8.0
23     5.0
24     9.0
25     5.0
26     5.0
27     3.0
28     5.0
29     5.0
...    ...
15598  5.0
15599  8.0
15600  NaN
15601  7.0
15602  6.0
15603  9.0
15604  3.0
15605  8.0
15606  6.0
15607  5.0
15608  7.0
15609  6.0
15610  6.0
15611  5.0
15612  6.0
15613  7.0
15614  5.0
15615  5.0
15616  5.0
15617  7.0
15618  8.0
15619  8.0
15620  6.0
15621  6.0
15622  6.0
15623  5.0
15624  8.0
15625  7.0
15626  6.0
15627  7.0

[15628 rows x 1 columns]

In [63]:
# create the linear logistic regression classifier and plug it into the previous Python function
from sklearn.metrics import accuracy_score   # an accuracy scoring function from scikit learn
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

# fit our chosen classifier to the dataset
classifier.fit(input_data_1, labels_1)                              

# print out the number of misclassified points
predicted_labels = classifier.predict(input_data_1)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').